.swap{
    background-color: #484848;
    border-radius: 20%;
    border: 1rem double #e8ea96;
    box-shadow: .5rem .5rem 1rem #d8af2a;
    max-width: 20rem;
    scroll-behavior: smooth;
    padding: 2rem;
    margin: 2rem auto;  
}
.swap:hover {
      
    transform: translateY(-10px);
    transition: transform 500ms linear;
}
.text:hover {
      
    transform: translateY(-10px);
    transition: transform 500ms linear;
}

.swap .balance{
    position: relative;
    height:4rem;
    background-color: rgba(0, 0, 0,.5);
    margin: 1.5rem;
    border-radius: 1.6rem;
    color:rgb(255, 255, 255);
    line-height: 100px;
    height: minmax(min-content, 100vh);
}
.swap .balance span{
    margin-left: 1rem;
    font-size: 1rem;


}
.swap button{ 
      position:relative;
      top:1rem;
      left: 6rem;
      padding: 1rem 1rem 1rem;
      display: block;
      width: 8rem;
      font-size: 1rem;
       background-color: rgb(255, 255, 255);
      border: .5rem double #aacbc7;
      box-shadow: .5rem .5rem 1rem #d8af2a;
}
.swap svg{
    transform: rotate(90deg);
    transition: all 0.5s;
}
.swap svg:hover{
    transform: rotate(270deg);
}

.ExchangeRate{ 
    position:relative;
    color: rgb(255, 255, 255);
      top:2rem;
      left: .5rem;
      margin: 1rem;
      font-size: .7rem;
}
.swap-title
{
     font-size: 1.5rem;
     color: #ffffff;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
     
.text
{
    height: 1.5rem;
    border-radius: .5rem;
    text-align: center;
    position: relative;
    height: 2.5rem;
    bottom: 8.3rem;
    width: 17rem;
    border: .2rem solid #cdcdcd;
    border-color: rgba(0, 0, 0, .14);
    background-color: AliceBlue;
    font-size: 1rem;
    border: .1rem double #aacbc7;
    box-shadow: .5rem .5rem 1rem #d8af2a;
}
@media(max-width:768px)
  {
      html{
          font-size: 50%;   
      }
  }
@media(max-width:500px)
  {
      html{
          font-size: 40%;
      }
  }
@media(max-width:400px)
  {
      html{
          font-size: 36%;
      }
  }