.Lottery
{
    background-color: #385f74;
    background: linear-gradient(90deg, rgba(99,142,139,1) 1%, rgba(44,108,101,1) 55%, rgba(63,86,124,1) 100%); 
    border-radius: 30px;
    padding: 3rem;
    border: 1px double #aacbc7;
    box-shadow: 5px 5px 10px #aacbc7;
    color:white;
    width: 28rem;

}
.ParticipateNow{

    background-color: #385f74;
    background: linear-gradient(90deg, rgba(99,142,139,1) 1%, rgba(44,108,101,1) 55%, rgba(63,86,124,1) 100%); 
    border-radius: 30px;
    padding: 3rem;
    border: 1px double #aacbc7;
    box-shadow: 5px 5px 10px #aacbc7;
    color:white;
    width: 28rem;
    scroll-behavior: smooth;
   
}
.ExchangeRate
{ 
    padding: 3rem;
}