.profiles{
    display: flex;
    justify-content: space-around;
}
.profile{
    color: aliceblue;
    height: min-content;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
   
    font-family: 'Courier New', Courier, monospace;
    background: #202231;
    margin-top: 2rem;
    margin-left: 1rem;
    padding-top: 2rem;
    box-shadow: 0 35px 68px 0 rgba(0,0,0,.26), 10px 10px 70px rgba(255, 255, 255, .25), inset 5px 5px 5px 10px rgba(0,0,0,.5), inset 5px 5px 10px rgba(255,255,255,.2),inset -5px -5px 15px rgba(0,0,0,.75);
    border-radius: 30px;
}
.profile img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.profile:hover{
    outline: 1px solid rgb(117, 218, 244);
    outline-offset: 10px;
}
.profile img:hover{
    height: 150px;
    width: 150px;
}