
/* Our Team
-------------------------------------------------------*/
.teammembers{
    height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   transition: transform 500ms linear;
   padding: 5rem;    
}
 
.member{
   background: rgb(99,142,139);
   background: linear-gradient(90deg, rgba(99,142,139,1) 1%, rgba(44,108,101,1) 55%, rgba(63,86,124,1) 100%); 
   border-radius: 40px;
   margin-left: 10rem;
   max-height: 24rem;
}
  
 
.member:hover
 {
    height: max-content;
   transform: translateY(-15px);
   transition: transform 500ms linear;
    
}
 .h2{
  text-align: center;
  color: #68f5e5 ;
  margin: auto;
    
 }


 