 .Pic{
    float:left;
    height: 30rem;
    width: 40rem;
    position:relative;  
    right:10rem;
    bottom: 1rem;
    padding-left: 17rem;
    padding-top: 1rem;
    
 }
 @media(max-width:768px)
  {
      html{
          font-size: 50%;
          
      }
  }
  @media(max-width:500px)
  {
      html{
          font-size: 40%;
      }
  }
  @media(max-width:400px)
  {
      html{
          font-size: 36%;
      }
  }
   