.timeline{
    --space:150px;
    position: relative;
    background: rgb(99,142,139);
    background: linear-gradient(90deg, rgba(99,142,139,1) 1%, rgba(44,108,101,1) 55%, rgba(63,86,124,1) 100%); 
    border-radius: 40px;
    margin:auto;
    text-align: center;
    color: #fff;
    text-align: center;
    height: 100vh;
    padding:5rem;
    padding-top: 1rem;
}
.time{
    background: rgb(99,142,139);
    background: linear-gradient(90deg, rgba(99,142,139,1) 1%, rgba(44,108,101,1) 55%, rgba(63,86,124,1) 100%); 
    border-radius: 50px;
    transform: translateY(-10px);
    transition: transform 500ms linear;
}
.line{
    position: absolute;
    height: 70%;
    width: 10px;
    left: 49.5%;
    background-color: aqua;
}
.timeline-block{
    margin: 1rem;
    padding: 1rem;
   border: 1px solid #68f5e5;
    width: fit-content;
    margin:auto;
    position: relative;
    background: rgb(99,142,139);
    background: linear-gradient(90deg, rgba(99,142,139,1) 1%, rgba(44,108,101,1) 55%, rgba(63,86,124,1) 100%); 
    border-radius: 16px;
    min-width: 155px;
}
.timeline-block:nth-child(even){
    left: calc(-1 * var(--space));
}
.timeline-block:nth-child(odd){
    left:var(--space);
}
.timeline-block:nth-child(odd)::after{
    position: absolute;
    left:calc(-1 * var(--space) / 2);
    top:50%;
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    border-radius:100% ;
    background-color: #aacbc7;
}
.timeline-block:nth-child(even)::after{
    position: absolute;
    right:calc(-1 * var(--space) / 2 + 10px);
    top:50%;
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    border-radius:100% ;
    background-color: #aacbc7;
}