.footer{
    margin-top: 2rem;
    padding: .2rem;
    background-color: #385f74;
    background: linear-gradient(90deg, rgba(99,142,139,1) 1%, rgba(44,108,101,1) 55%, rgba(63,86,124,1) 100%); 
    border-radius: 20px;
    border: 4px double #aacbc7;
    box-shadow: 5px 5px 10px #aacbc7;
    color:white;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }