.App{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 5fr 1fr;
}
.App.Landing .nav{
  display: none;
}
.container{
  background-color: #191919;
  grid-column: 2 / 3;
}
.App.Landing  .container{
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}
